
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: black;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0px;
}


li {
  padding: 10px;
}

ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

th, td {
  color: black;
  text-align: left;
  padding: 6px;
}


#header-logo {
  height: 50px;
  margin-right: 8px;
}

#header-logo-small {
  height: 30px;
  margin-right: 8px;
  display: none;
}

.header {
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  padding: 8px;
  background: rgba(1, 85, 166, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  position: fixed;
  z-index:1;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 0 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigation {
  display: flex;
  gap: 16px;
}

.navigation > li {
  padding: 0px;
}

.hidden {
  opacity: 0;
}

.segment {
  height: 1px;
  margin-bottom: 100px;
}

.slogan {
  font-family: 'Cormorant Garamond', serif;
}

.icon {
  height: 20px;
}

.text-box, .service-type, .service-type-selected {
  font-size: 22px;
}

.text-box {
  text-align: left;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-animation: fadeIn 2s;
}

.text-box > * {
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-animation: fadeIn 2s;
}

#swipe-photo {
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 30%;
  left: 30%;
  height: 0px;
  width: 0px;
  -webkit-animation: moveAndFade 2s;
}


#services-grid {
  display: grid;
  grid-template-areas:
          "Signs Vehicles Design Print";
  grid-template-columns: auto auto auto auto;
  grid-template-rows:  auto;
  grid-gap: 10px;
  padding-bottom: 10px;
}

#end {
  margin: 200px;
}

@media (max-width: 1024px) {

  .slogan {
    display: none;
  }

  .site-nav {
    font-size: 22px;
  }

  .text-box, .service-type, .service-type-selected {
    font-size: 18px;
  }
}

@media (max-width: 675px) {

  .slogan {
    display: none;
  }

  .site-nav {
    font-size: 20px;
  }

  .text-box, .service-type, .service-type-selected {
    font-size: 16px;
  }

  .navigation > li {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

@media (max-width: 440px) {

  .slogan, #header-logo {
    display: none;
  }

  #header-logo-small {
    display: block;
  }

  .site-nav {
    font-size: 16px;
  }

  .text-box, .service-type, .service-type-selected {
    font-size: 12px;
  }
}

.info-grid > div {
  padding: 0pt 0pt 0pt 8pt;
}

/* Maps the sections of the grid to the divs */

.signs {
  grid-area: Signs;
}

.vehicles {
  grid-area: Vehicles;
}

.design {
  grid-area: Design;
}

.print {
  grid-area: Print;
}

.service-type {
  border-radius: 10px;
  background: lightblue;
  border-width: 10px;
  padding: 10px 10px;
  flex-shrink: 0;
  -webkit-animation: button-unselected 1s;
}

.service-type-selected {
  border-radius: 25px;
  background: blue;
  color: white;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-animation: button-selected 1s;
}

.active {
  color: white;
  transition: 0.5s;
}

.nonactive {
  color: black;
  padding: 0px 0px;
}

#logo-slogan {
  display: flex;
  align-items: center;
  padding: 8px;
}

#image-carousel {
  overflow: hidden;
  height: 100vw;
  width: 100vw;
  padding-top: 10px;
}

#carousel-controller {
  padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-index {
  width: 8%;
  padding-bottom: 8%;
  height:0;
  background-color: lightblue;
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 1%;
}

.service-image {
  height: 100%;
  width: 100%;
  border-radius: 2%;
}

.service-image-thumbnail {
  width: 100%;
  height: auto;
}

#printer-demo {
  width: 100%;
  border-radius: 2%;
}

.fade-in {
  -webkit-animation: fadeIn 2s;
  opacity:1;
}

.slide-in {
  -webkit-animation: slideIn 1s;
  margin-left: 0px;
}

.spacer {
  height: 80vh;
}

.slide-in-move {
  -webkit-animation: slideInMove 2s;
  margin-left: 10px;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes moveAndFade {
  0% {opacity: 1;
      right: 30%;
      left: 30%;
      height: auto;
      width: auto;}
  25% {opacity: 1;
      right: 15%;
      left: 45%;}
  50% {opacity: 1;
       right: 45%;
       left: 15%;}
  75% {opacity: 1;
       right: 30%;
       left: 30%;
       height: auto;
       width: auto;}
  100% {opacity: 0;
        right: 30%;
        left: 30%;
        height: 0px;
        width: 0px;}
}

@-webkit-keyframes slideIn {
  0% {margin-left: -220px;}
  100% {margin-left: 0px;}
}

@-webkit-keyframes slideInMove {
  0% {margin-left: 0px; opacity: 0;}
  40% {margin-left: 0px; opacity: 0;}
  100% {margin-left: 10px; opacity: 1;}
}

@-webkit-keyframes button-unselected {
  0% {padding: 10px 20px;}
  100% {padding: 10px 10px;}
}

@-webkit-keyframes button-selected {
  0% {
    padding: 10px 10px;
    background: lightblue;
  }
  100% {
    padding: 10px 20px;
    background: blue;
  }
}

.image-carousel {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  border-radius: 25px;
}

.rotation-div {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#image-carousel-slides {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.image-div {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.service-image {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

.image-navigation {
  display: none;
}

.nav-arrow {
  width: 100%;
  height: 100%;
}

.swipe-icon {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {

  .image-carousel {
    width: 100vh;
    height: 95vh;
  }

  #image-carousel {
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-top: 10px;
  }

  #image-carousel-slides {
    width: 1100vh;

  }

  .rotate {
    -webkit-animation: slide 20s infinite;
  }


  #prevous-photo {
    position: absolute;
    top: 50%;
    left: 0;
  }

  #next-photo {
    position: absolute;
    top: 50%;
    right: 0;
  }

  #next-photo > img {
    transform: rotate(180deg);
  }

  #swipe-photo {
    display: none;
  }

  .image-div {
    float: left;
    height: 90vh;
    width: 90vh;
    margin-right: 5vh;
    margin-left: 5vh;
  }

  .image-navigation {
    width: 5vh;
    height: 5vh;
    min-width: 40px;
    min-height: 40px;
    opacity: 1;
    display: block;
  }

  /* Allows the slideshow animation to operate through JS*/

  @-webkit-keyframes slide1-2 {
    0% {margin-left: 0vh;}
    100% {margin-left: -100vh;}
  }

  @-webkit-keyframes slide2-1 {
    0% {margin-left: -100vh;}
    100% {margin-left: 0vh;}
  }

  @-webkit-keyframes slide2-3 {
    0% {margin-left: -100vh;}
    100% {margin-left: -200vh;}
  }

  @-webkit-keyframes slide3-2 {
    0% {margin-left: -200vh;}
    100% {margin-left: -100vh;}
  }

  @-webkit-keyframes slide3-4 {
    0% {margin-left: -200vh;}
    100% {margin-left: -300vh;}
  }

  @-webkit-keyframes slide4-3 {
    0% {margin-left: -300vh;}
    100% {margin-left: -200vh;}
  }

  @-webkit-keyframes slide3-4 {
    0% {margin-left: -200vh;}
    100% {margin-left: -300vh;}
  }

  @-webkit-keyframes slide4-3 {
    0% {margin-left: -300vh;}
    100% {margin-left: -200vh;}
  }

  @-webkit-keyframes slide4-5 {
    0% {margin-left: -300vh;}
    100% {margin-left: -400vh;}
  }

  @-webkit-keyframes slide5-4 {
    0% {margin-left: -400vh;}
    100% {margin-left: -300vh;}
  }

  @-webkit-keyframes slide5-6 {
    0% {margin-left: -400vh;}
    100% {margin-left: -500vh;}
  }

  @-webkit-keyframes slide6-5 {
    0% {margin-left: -500vh;}
    100% {margin-left: -400vh;}
  }

  @-webkit-keyframes slide6-7 {
    0% {margin-left: -500vh;}
    100% {margin-left: -600vh;}
  }

  @-webkit-keyframes slide7-6 {
    0% {margin-left: -600vh;}
    100% {margin-left: -500vh;}
  }

  @-webkit-keyframes slide7-8 {
    0% {margin-left: -600vh;}
    100% {margin-left: -700vh;}
  }

  @-webkit-keyframes slide8-7 {
    0% {margin-left: -700vh;}
    100% {margin-left: -600vh;}
  }

  @-webkit-keyframes slide8-1 {
    0% {margin-left: -700vh;}
    100% {margin-left: 0vh;}
  }

  @-webkit-keyframes slide1-8 {
    0% {margin-left: 0vh;}
    100% {margin-left: -700vh;}
  }

  .slide-1-2 {
    -webkit-animation: slide1-2 2s;
    margin-left: -100vh;
  }

  .slide-1-8 {
    -webkit-animation: slide1-8 2s;
    margin-left: -700vh;
  }

  .slide-2-1 {
    -webkit-animation: slide2-1 2s;
    margin-left: 0vh;
  }

  .slide-2-3 {
    -webkit-animation: slide2-3 2s;
    margin-left: -200vh;
  }

  .slide-3-2 {
    -webkit-animation: slide3-2 2s;
    margin-left: -100vh;
  }

  .slide-3-4 {
    -webkit-animation: slide3-4 2s;
    margin-left: -300vh;
  }

  .slide-4-3 {
    -webkit-animation: slide4-3 2s;
    margin-left: -200vh;
  }

  .slide-4-5 {
    -webkit-animation: slide4-5 2s;
    margin-left: -400vh;
  }

  .slide-5-4 {
    -webkit-animation: slide5-4 2s;
    margin-left: -300vh;
  }

  .slide-5-6 {
    -webkit-animation: slide5-6 2s;
    margin-left: -500vh;
  }

  .slide-6-5 {
    -webkit-animation: slide6-5 2s;
    margin-left: -400vh;
  }

  .slide-6-7 {
    -webkit-animation: slide6-7 2s;
    margin-left: -600vh;
  }

  .slide-7-6 {
    -webkit-animation: slide7-6 2s;
    margin-left: -500vh;
  }

  .slide-7-8 {
    -webkit-animation: slide7-8 2s;
    margin-left: -700vh;
  }

  .slide-8-7 {
    -webkit-animation: slide8-7 2s;
    margin-left: -600vh;
  }

  .slide-8-1 {
    -webkit-animation: slide8-1 2s;
    margin-left: -0vh;
  }

  @-webkit-keyframes slide {
    0% {margin-left: 0vh;}
    6.25% {margin-left: -100vh;}
    12.5% {margin-left: -100vh;}
    18.75% {margin-left: -200vh;}
    25% {margin-left: -200vh;}
    31.25% {margin-left: -300vh;}
    37.5% {margin-left: -300vh;}
    43.75% {margin-left: -400vh;}
    50% {margin-left: -400vh;}
    56.25% {margin-left: -500vh;}
    62.5% {margin-left: -500vh;}
    68.75% {margin-left: -600vh;}
    75% {margin-left: -600vh;}
    81.25% {margin-left: -700vh;}
    87.5% {margin-left: -700vh;}
    95% {margin-left: 0vh;}
    100% {margin-left: 0vh;}
  }
}
